@import './variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

// dark mode //


body {
    background-color: $background-light;
    font-family: 'Kumbh Sans', sans-serif;   
    transition: background-color 250ms;  

    &.dark-theme {
        background-color: $primary-midnight;
    }
    
    &.light-theme {
        background-color: $secondary-light-grey;
    }

    @media (prefers-color-scheme: dark) {
        background-color: $primary-midnight;
    }

    @media (prefers-color-scheme: light) {
        background-color: $secondary-light-grey;
    }
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.2rem;
}

h4,
p {
    font-size: 1.6rem;
}


.container {
    max-width: 144rem;
    width: 100%;
    margin: 0 auto;
}

.relative {
    position: relative;
}

