// Primary Colors 

$primary-violet: #5964E0;
$primary-light-violet: #939bf4;
$primary-dark-blue: #19202D;
$primary-midnight: #121721;

// Secondary Colors: 

 $secondary-white: #ffffff;
 $secondary-lighter-grey: #EEEFFC;
 $secondary-light-grey: #f4f6f8;
 $secondary-grey: #9daec2;
 $secondary-dark-grey: #6e8098;

 // Background color: 

 $background-light: #f2f2f2;
 $background-dark: $primary-midnight;